
.bg-branco{
    background-color: #fff;
    color: black;
}
.bg-vermelho{
    background-color: #e83845;
    color: #fff;
}
.bg-amarelo{
    background-color: #ffce30;
    color: #fff;
}
.bg-verde{
    background-color: #067034;
    color: #fff;
}
.bg-azul{
    background-color: #0d214f;
    color: #fff;
}
.bg-preto{
    background-color: #1f2024;
    color: #fff;
}
.bg-lilas{
    background-color: #35122E;
    color: #fff;
}
.bg-rosa{
    background-color: #ff007f;
    color: #fff;
}